.borderx{


  display: inline-block;


}

.colorborx{
  text-align: center;
  margin-top: 10px;
}

.colorx{
  width: 80px;
  height: 80px;

  border: 1px solid black;

  margin: 2px;

}

.colortext{
  width: 80px;
  height: 26px;

  border: 1px solid black;
  margin: 2px;

}

p.text{
  text-align: left;
  padding-left: 110px;

}

.textarea{
border: 1px dotted black;
margin: 40px;

height: auto;

}

textarea{
  color:black;
  width: 320px;


}

h4{
color: #333;
font-style: normal;

}

input{
  color :black;

}

.alignMain{
  width: 960px;
  background-color: #eee;
  margin: 0 auto;
  border-radius: 10px;

}
